{% extends 'base.html' %}
{% block content %}
<table class="table table-dark">
    <thead>
        <tr>
        </tr>
        <tr>
            <th scope="col">Employee_Name</th>
            <th scope="col">Date_of_Birth</th>
            <th scope="col">Date_of_joining</th>
            <th scope="col">Department</th>
            <th scope="col">Post </th>
            <th scope="col">Leave_count </th>
            <th scope="col">On_leave </th>
            <th scope="col">Update </th>
            <th scope="col">Delete </th>

        </tr>
    </thead>
    <tbody>
        
        {% for employee in employees %}
        <tr>
            <th scope="row"><a href="{% url 'get_employee' employee.id %}">{{employee.name}}</a></th>
            <td>{{employee.date_of_birth}}</td>
            <td>{{employee.date_of_joining}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.post}}</td>
            <td>{{employee.leave_count}}</td>
            {% if employee.on_leave %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>
                <a href="{% url 'update_employee' employee.id %}">✏️</a>
            </td>
            <td>
                <a href="{% url 'remove_employee' employee.id %}">🗑️</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}