{% extends 'base.html' %}
{% load static %}  
{% block content %}
<link rel="stylesheet" href="{% static 'css/myfile.css' %}">
<center class="homecenter">
    <div class="homeborder">
        <h2> <b><a href="{% url 'all_employees' %}">Number of Employees :
                    {{count_of_employees}}</a></b></h2>
        <h2 ><b><a href="{% url 'employees_on_leave' %}">Number of Employees On Leave:
                    {{count_of_employees_on_leave}}</a></b></h2>

    </div>
</center>
{% endblock %}